/**
 * Form
 */

.form {
  @include form();
  text-align: center;

  table {
    width: min(100%, 48rem);
    margin: space("medium") auto;

    thead, tbody {
      width: 100%;
    }

    thead {
      border: 0; // Reset
    }

    th, td {
      padding: space();
      border: 0; // Reset
    }

    th {
      width: 12rem;
    }

    @media (max-width: breakpoint("sm") - 0.1px) {
      &, thead, tbody, tr, th, td {
        display: block;
      }
    }

    input, select, textarea {
      border: none;
      border-radius: space("x-small");
      background-color: #fff;
    }
  }

  [type="submit"] {
    display: inline-block;
    width: 10.5rem;
    height: 3.5rem;
    line-height: 3.5rem;
    margin-inline: space();
    @include make-button();
    @include make-button-color-normal("primary");
  }
}

.confirm {
  table {
    @include table();
    margin-block-end: space("large");

    th {
      width: 12rem;
    }

    td {
      text-align: left;
    }
  }

  [type="submit"], [type="button"] {
    display: inline-block;
    width: 14rem;
    height: 3.5rem;
    line-height: 3.5rem;
    margin-inline: space();
    @include make-button();
  }

  [type="submit"] {
    @include make-button-color-normal("primary");
  }
  
  [type="button"] {
    @include make-button-color-normal("secondary");
  }
}
