/**
 * Project - Hero
 */

.hero {
  @include row(center, center);
  width: 100%;
  height: 100svh;

  &__artwork {
    width: min(80vw, 30rem);
    height: min(60vh, 22.5rem);

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}
